{{! this file defines pages to be included in the menu of template, these could be about, contacts, etc.  }}

<li><a href="/" class="dn-ajx-link">home</a></li>
<li><a href="/about-me" class="dn-ajx-link">about</a></li>
<li><a href="/contacts" class="dn-ajx-link">contacts</a></li>